.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

@media screen and (orientation: portrait) {
    .container {
      flex-direction: column;
      margin-top: 5%;
    }
  }
  
@media screen and (orientation: landscape) {
  .container {
    flex-direction: row;
    margin: 0 0 0 0;
  }
}

.fieldContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (orientation: portrait) {
  .fieldContainer {
    height: 33vh;
    width: 33vh;
    margin-bottom: 10%
  }
}

@media screen and (orientation: landscape) {
  .fieldContainer {
    height: 30vw;
    width: 30vw;
  }
}

.field {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0px;
    height: 100%;
    width: 100vw;
    background-color: rgb(250, 250, 250);
}

.row {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid ;
    gap: 0px;
    width: 100%;
    height: 10%;
}

.cell {
    background-color: lightgray;
    border: 1px solid grey;
}

.fieldTitle {
    margin: 0;
}

.hidden {
    display: none;
}

.occupied {
  background-color: rgb(16, 70, 137);
}

.missed {
  background-color: rgb(253, 253, 109);
}

.hit {
  background-color: red;
}

.empty {
  background-color: white;
}