.title {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.controlContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
 
}

@media screen and (orientation: portrait) {
    .container {
      flex-direction: column;
    }
}
    
@media screen and (orientation: landscape) {
    .container {
      flex-direction: row;
    }
}