.title {
    margin-bottom: 10px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: bold;
    
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 5%;
}

.controlContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}

@media screen and (orientation: portrait) {
    .container {
      height: 30vh;
    }
    .title {
        font-size: 5vh;
    }
}
    
@media screen and (orientation: landscape) {
    .container {
        width: 30vw;
    }
    .title {
        font-size: 5vw;
    }
}

