@tailwind base;
@tailwind components;
@tailwind utilities;

/* Keep your custom styles below */
:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  background-color: lightblue;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow: hidden;
}
